@font-face {
  font-family: 'Merriweather';
  src: url('../assets/fonts/Merriweather/Merriweather-Regular.eot');
  src:
    url('../assets/fonts/Merriweather/Merriweather-Regular.eot') format('embedded-opentype'),
    url('../assets/fonts/Merriweather/Merriweather-Regular.woff2') format('woff2'),
    url('../assets/fonts/Merriweather/Merriweather-Regular.woff') format('woff'),
    url('../assets/fonts/Merriweather/Merriweather-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../assets/fonts/Merriweather/Merriweather-Bold.eot');
  src:
    url('../assets/fonts/Merriweather/Merriweather-Bold.eot') format('embedded-opentype'),
    url('../assets/fonts/Merriweather/Merriweather-Bold.woff2') format('woff2'),
    url('../assets/fonts/Merriweather/Merriweather-Bold.woff') format('woff'),
    url('../assets/fonts/Merriweather/Merriweather-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'GolosText';
  src: url('../assets/fonts/GolosText/GolosText-Regular.eot');
  src:
    url('../assets/fonts/GolosText/GolosText-Regular.eot') format('embedded-opentype'),
    url('../assets/fonts/GolosText/GolosText-Regular.woff2') format('woff2'),
    url('../assets/fonts/GolosText/GolosText-Regular.woff') format('woff'),
    url('../assets/fonts/GolosText/GolosText-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'GolosText';
  src: url('../assets/fonts/GolosText/GolosText-Medium.eot');
  src:
    url('../assets/fonts/GolosText/GolosText-Medium.eot') format('embedded-opentype'),
    url('../assets/fonts/GolosText/GolosText-Medium.woff2') format('woff2'),
    url('../assets/fonts/GolosText/GolosText-Medium.woff') format('woff'),
    url('../assets/fonts/GolosText/GolosText-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'GolosText';
  src: url('../assets/fonts/GolosText/GolosText-DemiBold.eot');
  src:
    url('../assets/fonts/GolosText/GolosText-DemiBold.eot') format('embedded-opentype'),
    url('../assets/fonts/GolosText/GolosText-DemiBold.woff2') format('woff2'),
    url('../assets/fonts/GolosText/GolosText-DemiBold.woff') format('woff'),
    url('../assets/fonts/GolosText/GolosText-DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
