@use './mixins' as *;

.header {
  height: 70rem;
  padding: 2.6rem 0;
  background-image: url('../assets/img/banner-1920.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include breakpoint(lg) {
    height: 73rem;
  }
  @include breakpoint(sm) {
    background-image: url('../assets/img/banner-375.png');
  }

  &__container {
    width: 100%;
    max-width: 136.6rem;
    margin: 0 auto;
    padding: 0 7.2rem;
    display: flex;
    flex-direction: column;
    gap: 6.2rem;
  }

  &__logo {
    width: fit-content;
    height: 3.6rem;
  }

  &__content {
    max-width: 54.2rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  &__title {
    font-size: 6rem;
    font-weight: 400;
    line-height: 110%;
    &-middle {
      text-align: center;
    }
    &-end {
      text-align: end;
    }
  }

  &__description {
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 1.8rem;
    line-height: 130%;
  }

  &__btns {
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }

  &__btn {
    max-width: 26.3rem;
    width: 100%;
    height: 7.2rem;
    border-radius: 6.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 130%;
    transition: var(--time);
    &-idea {
      padding: 0 5rem;
      background: var(--btn-black);
      color: var(--white);
      &:hover {
        background: var(--btn-yellow);
        color: var(--btn-black);
      }
    }
    &-tournament {
      padding: 0 8rem;
      border: 2px solid var(--btn-black);
      &:hover {
        background: var(--btn-black);
        color: var(--white);
      }
    }
  }
}

@include breakpoint(sm) {
  .header {
    padding: 1.8rem 0;
    height: 80rem;

    &__container {
      padding: 0 2rem;
      gap: 4rem;
    }

    &__logo {
      height: 3.2rem;
    }

    &__content {
      max-width: 100%;
      gap: 2.4rem;
    }

    &__title {
      font-size: 3.6rem;
    }

    &__description {
      text-align: start;
      margin-bottom: 0.8rem;
    }

    &__btns {
      flex-direction: column;
      gap: 1.4rem;
    }

    &__btn {
      max-width: 45rem;
      width: 100%;
      height: 4.7rem;
      &-idea {
        padding: 0;

        &:hover {
          background: var(--btn-black);
          color: var(--white);
        }
        &:active {
          background: var(--btn-yellow);
          color: var(--btn-black);
        }
      }
      &-tournament {
        padding: 0;
        background: var(--white);
        border: none;
        &:hover {
          background: var(--white);
          color: var(--btn-black);
          border: none;
        }
        &:active {
          background: var(--btn-black);
          color: var(--white);
        }
      }
    }
  }
}
