@use './mixins' as *;

.tournament {
  margin-top: 6.4rem;
  display: flex;
  flex-direction: column;
  gap: 6.4rem;

  &__mobile {
    display: none;
  }

  &__idea {
    display: flex;
    align-items: center;
    gap: 6.4rem;
    &-img {
      flex-shrink: 0;
      width: 39.4rem;
    }
  }

  &__title {
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 135%;
    color: var(--black-text);
    & span {
      color: var(--red-text);
    }
    & abbr {
      white-space: nowrap;
    }
  }

  &__info {
    display: flex;
    gap: 1.7rem;
    &-img {
      flex-basis: 45%;
      position: relative;
      top: 0;
      left: -5rem;
      width: 100%;
    }
    &-content {
      flex-basis: 55%;
      display: flex;
      flex-direction: column;
      gap: 4.8rem;
    }
  }

  &__schedule {
    max-width: 70.4rem;
    display: flex;
    flex-direction: column;
    &-line {
      display: flex;
      border-bottom: 2px solid rgba(208, 208, 208, 1);
      font-size: 2rem;
      font-weight: 400;
      line-height: 120%;
      color: var(--black-text);
      &:last-child {
        border-bottom: none;
      }
      &:first-child > .tournament__schedule-line-name {
        padding-top: 0;
      }
      &:first-child > .tournament__schedule-line-desc {
        padding-top: 0;
      }
      &:last-child > .tournament__schedule-line-name {
        padding-bottom: 0;
      }
      &:last-child > .tournament__schedule-line-desc {
        padding-bottom: 0;
      }
      &-name {
        padding: 1.6rem 0;
        width: 30.6rem;
        opacity: 0.7;
        border-right: 2px solid rgba(208, 208, 208, 1);
      }
      &-desc {
        font-weight: 500;
        padding: 1.6rem;
        & span {
          margin-right: 1.2rem;
          text-decoration: line-through;
          text-decoration-color: var(--red-text);
        }
      }
    }
  }

  &__note {
    color: var(--blue-text);
    font-size: 2rem;
    font-weight: 400;
    line-height: 120%;
  }
}

@include breakpoint(sm) {
  .tournament {
    margin-top: 4.8rem;
    gap: 2.4rem;

    &__idea {
      flex-direction: column;
      gap: 2.4rem;
      &-img {
        display: none;
      }
    }

    &__mobile {
      width: 100%;
      display: block;
      margin: 2.4rem 0;
    }

    &__title {
      font-size: 2.8rem;
    }

    &__info {
      flex-direction: column;
      gap: 4rem;
      &-img {
        flex-basis: 100%;
        left: 0;
        transform: scale(1.1);
      }
      &-content {
        flex-basis: 100%;
        gap: 4rem;
      }
    }

    &__schedule {
      max-width: 100%;
      &-line {
        flex-direction: column;
        &:nth-last-child(2) {
          flex-direction: row;
        }
        &:nth-last-child(2) > .tournament__schedule-line-name {
          padding-bottom: 1.6rem;
        }
        &:nth-last-child(2) > .tournament__schedule-line-desc {
          padding: 1.6rem 0 1.6rem 1.2rem;
        }
        &:last-child > .tournament__schedule-line-name {
          padding-bottom: 1.2rem;
        }
        &-name {
          padding-bottom: 1.2rem;
          width: fit-content;
          border-right: none;
        }
        &-desc {
          padding-top: 0;
          padding-left: 0;
          & span {
            margin-right: 0.8rem;
          }
        }
      }
    }

    &__note {
      font-size: 1.8rem;
      & abbr {
        white-space: nowrap;
      }
    }
  }
}
