section.marquee
  .marquee__content.marquee__content-one
    h4.marquee__text Дело помощи утопающим — дело рук самих утопающих!
    h4.marquee__text Шахматы двигают вперед не только культуру, но и экономику!
    h4.marquee__text Лед тронулся, господа присяжные заседатели!
  .marquee__content.marquee__content-two
    h4.marquee__text Дело помощи утопающим — дело рук самих утопающих!
    h4.marquee__text Шахматы двигают вперед не только культуру, но и экономику!
    h4.marquee__text Лед тронулся, господа присяжные заседатели!
