section.participants
  .participants__heading
    h2.participants__title Участники турнира
    .participants__control
      .participants__slider-prev.swiper-button-prev
        svg(width='44', height='44', viewBox='0 0 44 44', fill='none', xmlns='http://www.w3.org/2000/svg')
          circle(cx='22', cy='22', r='22', transform='rotate(-180 22 22)', fill='#313131')
          path(d='M24.5382 30.4615L16.0767 21.9999L24.5382 13.5384', stroke='white', stroke-width='2', stroke-linecap='square')
      .participants__slider-pagination.swiper-pagination
      .participants__slider-next.swiper-button-next
        svg(width='44', height='44', viewBox='0 0 44 44', fill='none', xmlns='http://www.w3.org/2000/svg')
          circle(cx='22', cy='22', r='22', fill='#313131')
          path(d='M19.4618 13.5384L27.9233 21.9999L19.4618 30.4615', stroke='white', stroke-width='2', stroke-linecap='square')
  .participants__cards.swiper.js-participants-swiper
    .swiper-wrapper
      .participants__card.swiper-slide
        .participants__card-img
          picture
            source(srcset='/assets/img/tournament-participant.png', media='(max-width: 610px)')
            img(src='/assets/img/tournament-participant.png', alt='tournament-participant')
        .participants__card-content
          p.participants__card-name Хозе-Рауль Капабланка
          p.participants__card-desc Чемпион мира по шахматам
          a.participants__card-link(href='#') Подробнее
      .participants__card.swiper-slide
        .participants__card-img
          picture
            source(srcset='/assets/img/tournament-participant.png', media='(max-width: 610px)')
            img(src='/assets/img/tournament-participant.png', alt='tournament-participant')
        .participants__card-content
          p.participants__card-name Эммануил Ласкер
          p.participants__card-desc Чемпион мира по шахматам
          a.participants__card-link(href='#') Подробнее
      .participants__card.swiper-slide
        .participants__card-img
          picture
            source(srcset='/assets/img/tournament-participant.png', media='(max-width: 610px)')
            img(src='/assets/img/tournament-participant.png', alt='tournament-participant')
        .participants__card-content
          p.participants__card-name Александр Алехин
          p.participants__card-desc Чемпион мира по шахматам
          a.participants__card-link(href='#') Подробнее
      .participants__card.swiper-slide
        .participants__card-img
          picture
            source(srcset='/assets/img/tournament-participant.png', media='(max-width: 610px)')
            img(src='/assets/img/tournament-participant.png', alt='tournament-participant')
        .participants__card-content
          p.participants__card-name Арон Нимцович
          p.participants__card-desc Чемпион мира по шахматам
          a.participants__card-link(href='#') Подробнее
      .participants__card.swiper-slide
        .participants__card-img
          picture
            source(srcset='/assets/img/tournament-participant.png', media='(max-width: 610px)')
            img(src='/assets/img/tournament-participant.png', alt='tournament-participant')
        .participants__card-content
          p.participants__card-name Рихард Рети
          p.participants__card-desc Чемпион мира по шахматам
          a.participants__card-link(href='#') Подробнее
      .participants__card.swiper-slide
        .participants__card-img
          picture
            source(srcset='/assets/img/tournament-participant.png', media='(max-width: 610px)')
            img(src='/assets/img/tournament-participant.png', alt='tournament-participant')
        .participants__card-content
          p.participants__card-name Остап Бендер
          p.participants__card-desc Гроссмейстер
          a.participants__card-link(href='#') Подробнее
