section#tournament.tournament
  .tournament__idea
    h3.tournament__title
      | Чтобы поддержать Международный васюкинский турнир
      .tournament__idea-img.tournament__mobile
        picture
          source(srcset='/assets/img/chess-idea.png', media='(max-width: 610px)')
          img(src='/assets/img/chess-idea.png', alt='chess-idea')
      |             посетите лекцию на тему:
      div «Плодотворная дебютная идея»
    .tournament__idea-img
      picture
        source(srcset='/assets/img/chess-idea.png', media='(max-width: 610px)')
        img(src='/assets/img/chess-idea.png', alt='chess-idea')
  .tournament__info
    .tournament__info-img
      picture
        source(srcset='/assets/img/chess-game.png', media='(max-width: 610px)')
        img(src='/assets/img/chess-game.png', alt='chess-game')
    .tournament__info-content
      h3.tournament__title
        | и Сеанс 
        span одновременной игры в шахматы на 160 досках 
        |  гроссмейстера 
        abbr О. Бендера
      .tournament__schedule
        .tournament__schedule-line
          p.tournament__schedule-line-name Место проведения:
          p.tournament__schedule-line-desc Клуб «Картонажник»
        .tournament__schedule-line
          p.tournament__schedule-line-name Дата и время мероприятия:
          p.tournament__schedule-line-desc 22 июня 1927 г. в 18:00
        .tournament__schedule-line
          p.tournament__schedule-line-name Стоимость входных билетов:
          p.tournament__schedule-line-desc 20 коп.
        .tournament__schedule-line
          p.tournament__schedule-line-name Плата за игру:
          p.tournament__schedule-line-desc 50 коп.
        .tournament__schedule-line
          p.tournament__schedule-line-name Взнос на телеграммы:
          p.tournament__schedule-line-desc
            span 100 руб.
            | 21 руб. 16 коп.
      p.tournament__note
        | По всем вопросам обращаться 
        abbr в администрацию
        |  к К. Михельсону
